body {
    background-color: var(--c-background-color);
    max-width: 800px;
    margin: 0 auto;
}

header {
    background-color: var(--c-background-highlights);
    color: var(--c-yellow);
    text-align: center;
    font-size: 1.5em;
}

footer {
    background-color: var(--c-background-highlights);
    color: var(--base-font-color);
}

main {
    color: var(--base-font-color);
}

.subsection-border {
    border-style: solid;
    border-width: 3px;
    border-color: var(--c-cyan);
}

nav {
    color: var(--c-blue);
}

.navigation {
    width: 100%;
    display: flex;
    flex-direction:row;
}

.navigation ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 100px;
    list-style-type: none;
    padding-left: 50px;
    padding-right:50px;
}

.navigation a {
    color: var(-c--blue);
}

.page-container {
    display: flex;
    max-width: 800px;
    margin: 0 auto;
}

.article-container {
    flex: 6; 
    
}

.aside-container {
    flex: 1;
    gap: 20px;
    padding-right: 50px;
}

aside {
    color: var(--c-green);
}

aside a {
    color: var(--c-red);
}

aside a:hover {
    color: var(--c-blue);
}
