body {
    background-color: var(--c-background-color);
}

header {
    background-color: var(--c-background-highlights);
    color: var(--c-yellow);
    text-align: center;
    font-size: 1.5em;
}

footer {
    background-color: var(--c-background-highlights);
    color: var(--base-font-color);
}

main {
    color: var(--base-font-color);
}

a {
    color: var(--c-magenta);
}

a:hover {
    color: var(--c-orange);
}

.subsection-border {
    border-style: solid;
    border-width: 3px;
    border-color: var(--c-cyan);
}
