body {
    background-color: var(--c-background-color);
}

header {
    background-color: var(--c-background-highlights);
    color: var(--base-font-color);
}

footer {
    background-color: var(--c-background-highlights);
    color: var(--base-font-color);
}

main {
    color: var(--base-font-color);
}

a {
    color: var(--c-magenta);
}

a:hover {
    color: var(--c-orange);
}
